.btn{
	.transition(0.2s);
	.border-radius(8px);
	.box-shadow(2px 2px 0 fade(#000,10%));
	.fp;
	margin: 0;
	padding: 0 20px;
	border : 0;
	height: 36px;
	line-height: 36px;
	font-size: @fsp;
	font-weight: normal;
	display: inline-block;
	text-decoration: none;
	white-space: nowrap;
	overflow: visible;
	color: #fff;
	outline: none;
	text-align: center;
	background: @lightgreen;
	&:hover{
		background: darken(@lightgreen,10%);
	}
}
