@-webkit-keyframes shakeit {
	0% { -webkit-transform: rotate(0deg) translate(2px, 1px); }
	10% { -webkit-transform: rotate(2deg) translate(1px, 2px); }
	20% { -webkit-transform: rotate(-2deg) translate(3px, 0px) ; }
	30% { -webkit-transform: rotate(0deg) translate(0px, -2px); }
	40% { -webkit-transform: rotate(-2deg) translate(-1px, 1px); }
	50% { -webkit-transform: rotate(2deg) translate(1px, -2px); }
	60% { -webkit-transform: rotate(0deg) translate(3px, -1px); }
	70% { -webkit-transform: rotate(2deg) translate(-2px, -1px); }
	80% { -webkit-transform: rotate(-2deg) translate(1px, 1px); }
	90% { -webkit-transform: rotate(0deg) translate(-2px, -2px); }
	100% { -webkit-transform: rotate(2deg) translate(-1px, 2px); }
}
@keyframes shakeit {
	0% { transform: rotate(0deg) translate(2px, 1px); }
	10% { transform: rotate(2deg) translate(1px, 2px); }
	20% { transform: rotate(-2deg) translate(3px, 0px) ; }
	30% { transform: rotate(0deg) translate(0px, -2px); }
	40% { transform: rotate(-2deg) translate(-1px, 1px); }
	50% { transform: rotate(2deg) translate(1px, -2px); }
	60% { transform: rotate(0deg) translate(3px, -1px); }
	70% { transform: rotate(2deg) translate(-2px, -1px); }
	80% { transform: rotate(-2deg) translate(1px, 1px); }
	90% { transform: rotate(0deg) translate(-2px, -2px); }
	100% { transform: rotate(2deg) translate(-1px, 2px); }
}
.shakeit {
	-webkit-animation-name: shakeit;
	-webkit-animation-duration: 1s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
	animation-name: shakeit;
	animation-duration: 1s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}
.mod_breadcrumbs{
	ul{
		.rul;
		.clearfix;
		margin: 0 0 20px;
		li{
			float: left;
			margin-right: 15px;
			font-size: 13px;
			color: lighten(@cp,30%);
			&:before{
				top: 3px;
			}
			a {
				color: lighten(@cp,30%);
			}
		}
	}
}
.mod_custom-header-contact {
	position: relative;
	padding: 65px 0 0;
	width: 260px;
	float: right;
	&:before{
		.fi;
		position: absolute;
		right: -13px;
		top: 48px;
		content: '\e800';
		width: 53px;
		height: 52px;
		line-height: 52px;
		color: #fff;
		font-size: 26px;
		text-align: center;
		background: url(../images/bg/05.png) no-repeat;
	}
	.mod-title {
		.fh;
		text-transform: uppercase;
		color: @orange;
		font-size: 23px;
		line-height: 1.2;
		margin: 0 0 8px;
	}
	mark {
		.fh;
		font-size: 41px;
		line-height: 1;
		color: @lightgreen;
	}
	a {
		color: @cp;
	}
}
.mod_menu-main {
	.border-radius(0 30px 4px 4px);
	position: relative;
	background: @lightgreen;
	&:before{
		position: absolute;
		z-index: 1;
		content: '';
		top: 100%;
		left: 4px;
		border: 248px solid transparent;
		border-top-width: 16px;
		border-top-color: @lightgreen;
		border-bottom-width: 0;
	}
	&:after{
		position: absolute;
		content: '';
		top: 100%;
		left: 4px;
		border: 258px solid transparent;
		border-right-width: 238px;
		border-top-width: 24px;
		border-top-color: @green;
		border-bottom-width: 0;
	}
	.mod-inner {
		position: relative;
		&:before{
			position: absolute;
			z-index: 1;
			content: '';
			top: 100%;
			left: 50%;
			border: 210px solid transparent;
			border-left-width: 290px;
			border-top-width: 14px;
			border-top-color: @lightgreen;
			border-bottom-width: 0;
		}
		&:after{
			position: absolute;
			content: '';
			top: 100%;
			left: 50%;
			border: 210px solid transparent;
			border-left-width: 290px;
			border-top-width: 24px;
			border-top-color: @green;
			border-bottom-width: 0;
		}
	}
	ul {
		.rul;
		text-align: center;
		display: table;
		width: 94%;
		margin: 0 3%;
		li {
			.rli;
			.fh;
			display: inline-block;
			display: table-cell;
			padding: 30px 0 20px;
			text-transform: uppercase;
			font-size: 20px;
			line-height: 1.2;
			a {
				.transition(0.2s);
				color: #fff;
				text-decoration: none;
				&:hover{
					color: @green;
				}
			}
			&.act {
				&:before{
					left: 50%;
					top: 0;
					margin: 0 0 0 -33px;
					border: 30px solid transparent;
					border-top-width: 10px;
					border-top-color: #fff;
					border-right-width: 50px;
					border-bottom-width: 0;
				}
			}
		}
	}
}
.mod_custom-offer {
	position: relative;
	width: 260px;
	float: left;
	padding: 43px 20px 44px 30px;
	margin: 0 0 0 -260px;
	&:before{
		position: absolute;
		content: url(../images/icon/01.png);
		left: -34px;
		top: 32px;
		width: 53px;
		height: 52px;
		padding: 10px 0 0;
		text-align: center;
		background: url(../images/bg/05.png) no-repeat;
	}
	.mod-title {
		.fh;
		text-transform: uppercase;
		color: @green;
		font-size: 27px;
		line-height: 1.2;
		margin: 0 0 10px;
	}
	ul {
		.rul;
		li {
			.rli;
			font-size: 13px;
			line-height: 1.3;
			padding: 0 0 0 27px;
			margin: 0 0 8px;
			&:before{
				content: url(../images/bg/10.png);
			}
		}
	}
	nav {
		a {
			.fh;
			position: absolute;
			left: 30px;
			bottom: -27px;
			color: #fff;
			width: 203px;
			height: 57px;
			padding: 0 8px 0 0;
			line-height: 53px;
			text-align: center;
			text-decoration: none;
			font-size: 23px;
			background: url(../images/bg/02.png) no-repeat;
			&:hover{
				.shakeit;
			}
		}
	}
}
.mod_custom-slideshow {
	width: 480px;
	float: left;
	overflow: hidden;
	.item {
		position: relative;
		img {
			display: block;
		}
		.content {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			padding: 20px 160px 20px 35px;
			color: #fff;
			text-transform: uppercase;
			background: @green;
			background: fade(@green,80%);
		}
	}
	.pager {
		position: absolute;
		z-index: 999;
		bottom: 28px;
		right: 24px;
		a {
			display: inline-block;
			width: 23px;
			height: 22px;
			line-height: 20px;
			padding: 0 4px 0 0;
			margin: 0 0 0 3px;
			text-align: center;
			color: #fff;
			text-decoration: none;
			font-size: 14px;
			background: url(../images/bg/03.png);
			&:hover{
				text-decoration: underline;
			}
			&.cycle-pager-active {
				color: @green;
				background-position: 0 -22px;
			}
		}
	}
	.prev,.next {
		.transition(0.2s);
		.box-shadow(4px 2px 0 fade(#000,30%));
		position: absolute;
		z-index: 999;
		bottom: 50%;
		width: 48px;
		height: 61px;
		line-height: 61px;
		font-size: 20px;
		text-align: center;
		color: #fff;
		text-decoration: none;
		background: @lightgreen;
		background: fade(@lightgreen,90%);
	}
	.prev {
		.border-radius(0 20px 20px 0);
		left: -10px;
		padding: 0 0 0 10px;
		&:before{
			.fi;
			content: '\e803';
		}
		&:hover{
			left: 0;
		}
	}
	.next {
		.border-radius(20px 0 0 20px);
		right: -10px;
		padding: 0 10px 0 0;
		&:before{
			.fi;
			content: '\e804';
		}
		&:hover{
			right: 0;
		}
	}
}
.mod_custom-contact {
	float: left;
	width: 260px;
	padding: 48px 35px 0 35px;
	#col-left & {
		position: relative;
		float: none;
		width: auto;
		padding: 0;
		margin: 0 0 35px;
		&:before{
			right: auto;
			left: -63px;
			top: -10px;
		}
	}
	&:before{
		.fi;
		position: absolute;
		right: -26px;
		top: 39px;
		content: '\e801';
		width: 53px;
		height: 52px;
		line-height: 52px;
		color: #fff;
		font-size: 25px;
		text-align: center;
		background: url(../images/bg/05.png) no-repeat;
	}
	.mod-title {
		.fh;
		color: @green;
		text-transform: uppercase;
		font-size: 27px;
		line-height: 1.2;
		margin: 0 0 12px;
	}
	address {
		font-style: normal;
		font-size: 15px;
		line-height: 1.2;
		p {
			margin: 0 0 6px;
		}
		table {
			th,td {
				vertical-align: top;
			}
			th {
				font-weight: normal;
				padding: 0 7px 0 0;
			}
		}
	}
	.map {
		position: relative;
		padding: 8px 44px 113px 0;
		margin: 0 -12px 0 0;
		background: url(../images/bg/04.png) no-repeat right bottom;
		mark {
			.fh;
			display: block;
			color: @lightgreen;
			font-size: 38px;
			text-align: right;
		}
		.zoom {
			position: absolute;
			width: 1px;
			height: 1px;
			right: -50px;
			bottom: -11px;
			text-indent: -9999px;
			text-decoration: none;
			color: #fff;
			&:before{
				.fi;
				.transition(0.2s);
				position: absolute;
				right: 0;
				bottom: 0;
				display: block;
				text-indent: 0;
				content: '\e806';
				width: 53px;
				height: 52px;
				line-height: 52px;
				font-size: 27px;
				text-align: center;
				background: url(../images/bg/05.png) no-repeat 0 -52px;
			}
			&:hover{
				&:before{
					.shakeit;
				}
			}
		}
	}
}
.mod_custom-boxes {
	padding: 30px 0;
	margin: 0 0 -105px;
	.items {
		.clearfix;
		.item {
			position: relative;
			float: left;
			width: 25%;
			color: #fff;
			&:before{
				position: absolute;
				content: '';
				bottom: 3px;
				left: 0;
				width: 60%;
				height: 15px;
				background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC4yIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjcwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgPC9yYWRpYWxHcmFkaWVudD4KICA8cmVjdCB4PSItNTAiIHk9Ii01MCIgd2lkdGg9IjEwMSIgaGVpZ2h0PSIxMDEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
				background: -moz-radial-gradient(center, ellipse cover,  rgba(0,0,0,0.2) 0%, rgba(0,0,0,0) 70%);
				background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(0,0,0,0.2)), color-stop(70%,rgba(0,0,0,0)));
				background: -webkit-radial-gradient(center, ellipse cover,  rgba(0,0,0,0.2) 0%,rgba(0,0,0,0) 70%);
				background: -o-radial-gradient(center, ellipse cover,  rgba(0,0,0,0.2) 0%,rgba(0,0,0,0) 70%);
				background: -ms-radial-gradient(center, ellipse cover,  rgba(0,0,0,0.2) 0%,rgba(0,0,0,0) 70%);
				background: radial-gradient(ellipse at center,  rgba(0,0,0,0.2) 0%,rgba(0,0,0,0) 70%);
			}
			a {
				position: relative;
				display: block;
				text-align: center;
				text-decoration: none;
				color: #fff;
				text-transform: none;
				padding: 55px 50px 0;
				min-height: 260px;
				line-height: 1.2;
				background: url(../images/bg/06.png) no-repeat top;
				&:hover{
					.shakeit;
				}
				&:after{
					.fi;
					display: block;
					content: '\e807';
					font-size: 28px;
					line-height: 1;
				}
				p {
					margin: 0 0 5px;
				}
			}
			h2 {
				.fh;
				text-transform: uppercase;
				color: #fff;
				font-size: 26px;
				line-height: 1;
			}
			&:nth-child(2) {
				&:before{
					left: 40%;
				}
				a {
					background-image: url(../images/bg/07.png);
					background-position: center 4px;
				}
			}
			&:nth-child(3) {
				a {
					background-image: url(../images/bg/08.png);
					background-position: center 4px;
				}
			}
			&:nth-child(4) {
				&:before{
					left: 40%;
				}
				a {
					padding-left: 40px;
					padding-right: 40px;
					background-image: url(../images/bg/09.png);
					background-position: center 6px;
				}
			}
		}
	}
}
.mod_menu-footer {
	float: left;
	ul {
		.rul;
		li {
			.rli;
			display: inline-block;
			margin: 0 18px 0 0;
			font-size: 14px;
			white-space: nowrap;
			a {
				color: @green;
				text-decoration: none;
				color: @lightgreen;
				&:hover{
					text-decoration: underline;
				}
			}
		}
	}
}
.mod_menu-boxes {
	padding: 36px 0 14px;
	ul {
		.rul;
		.clearfix;
		li {
			.rli;
			float: left;
			width: 25%;
			a {
				.fh;
				display: block;
				display: table-cell;
				vertical-align: middle;
				height: 100px;
				width: 250px;
				padding: 0 20px;
				text-align: center;
				color: #fff;
				text-decoration: none;
				text-transform: uppercase;
				text-decoration: none;
				font-size: 26px;
				line-height: 1;
				background: url(../images/bg/11.png) no-repeat top;
				&:hover{
					.shakeit;
				}
			}
			&:nth-child(2) {
				a {
					background-image: url(../images/bg/12.png);
				}
			}
			&:nth-child(3) {
				a {
					background-image: url(../images/bg/13.png);
				}
			}
			&:nth-child(4) {
				a {
					background-image: url(../images/bg/14.png);
				}
			}
		}
	}
}
.mod_menu-sidebar {
	position: relative;
	margin: 0 0 35px;
	&:before{
		.fi;
		position: absolute;
		content: '\e808';
		left: -62px;
		top: -10px;
		width: 53px;
		height: 52px;
		line-height: 52px;
		text-align: center;
		color: #fff;
		font-size: 22px;
		background: url(../images/bg/05.png) no-repeat;
	}
	.mod-title {
		.fh;
		text-transform: uppercase;
		color: @green;
		font-size: 27px;
		line-height: 1.2;
		margin: 0 0 12px;
	}
	ul {
		.rul;
		li {
			font-size: 13px;
			line-height: 1.2;
			margin: 0 0 11px;
			&:before{
				top: 1px;
			}
			a {
				color: @cp;
				text-decoration: none;
				&:hover{
					text-decoration: underline;
				}
			}

		}
	}
}