
.icon-phone:before { content: '\e800'; } /* '' */
.icon-direction:before { content: '\e801'; } /* '' */
.icon-down-open:before { content: '\e802'; } /* '' */
.icon-left-open:before { content: '\e803'; } /* '' */
.icon-right-open:before { content: '\e804'; } /* '' */
.icon-up-open:before { content: '\e805'; } /* '' */
.icon-zoom-in:before { content: '\e806'; } /* '' */
.icon-ellipsis:before { content: '\e807'; } /* '' */
.icon-list-bullet:before { content: '\e808'; } /* '' */